In [1]:
import pandas as pd
# For oneway ANOVA
import scipy.stats as st

In [2]:
# Read data stored in csv file
df = pd.read_csv("differences3.csv")

In [4]:
df.head(3)

   Student  Score
0        1     88
1        1     91
2        1     86

In [5]:
# # assign label to each student type: Online, InPerson, Hybrid
df["Student"].replace({1:"Online", 2:"InPerson", 3:"Hybrid"}, inplace=True)

In [6]:
df

     Student  Score
0     Online     88
1     Online     91
2     Online     86
3     Online     92
4     Online     89
5     Online     94
6     Online     87
7     Online     91
8     Online     93
9     Online     88
10    Online     84
11    Online     86
12    Online     86
13    Online     89
14    Online     88
15    Online     90
16    Online     82
17    Online     92
18    Online     85
19    Online     87
20  InPerson     92
21  InPerson     95
22  InPerson     87
23  InPerson     94
24  InPerson     86
25  InPerson     99
26  InPerson     90
27  InPerson     93
28  InPerson     99
29  InPerson     90
30  InPerson     85
31  InPerson     85
32  InPerson     88
33  InPerson     96
34  InPerson     88
35  InPerson     94
36  InPerson     88
37  InPerson     95
38  InPerson     89
39  InPerson     86
40    Hybrid     80
41    Hybrid     94
42    Hybrid     91
43    Hybrid     98
44    Hybrid     82
45    Hybrid     82
46    Hybrid    100
47    Hybrid     94
48    Hybrid     96
49    Hybrid     96
50    Hybrid     91
51    Hybrid     81
52    Hybrid     82
53    Hybrid     83
54    Hybrid     84
55    Hybrid     85
56    Hybrid     97
57    Hybrid     87
58    Hybrid    100
59    Hybrid     80

In [7]:
# Oneway ANOVA 
Results = st.f_oneway(df["Score"][df["Student"]=="Online"], df["Score"][df["Student"]=="InPerson"], df["Score"][df["Student"]=="Hybrid"])

In [8]:
print ("ANOVA Results: ", Results)

ANOVA Results:  F_onewayResult(statistic=1.251646103688551, pvalue=0.2937751293444691)

In [9]:
Results.pvalue

0.2937751293444691